.heading {
	text-align: center;
	padding: 2em 0em 0em;
	margin: 0;
	font-size: 3em;
}

.thin {
	font-weight: 300;
}

.bold {
	font-weight: 500;
}

.thick {
	font-weight: 700;
}
.padding-left {
	padding-left: 3em;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.padding-none {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.margin-none {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.slider{
	position:relative;
	overflow: hidden;
	.slide{
		position: relative;
		h1{
			text-align: center;
	    position: absolute;
	    top: 4em;
	    width: 100%;
	    font-size: 3em;
	    font-weight: 900;
	    color: #fff;
		}
		h3{
			text-align: center;
			position: absolute;
			bottom: 2em;
			width: 100%;
			font-size: 1.8em;
			color: #fff;
			font-weight: 300;
		}
		img{
			width: 100%;
		}
		&:after{
			content: "";
	    position: absolute;
	    bottom: -100px;
	    left: 50%;
	    margin-left: -200%;
	    height: 400%;
	    width: 400%;
	    border-radius: 100%;
	    border: 100px solid #e5e4ec;
		}
	}
}
